<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>회원가입 페이지</title>
</head>
<body>
<h1>회원가입 페이지</h1>
<hr/>
<form action="/join" method="post">
  <input type="email" name="email" placeholder="email"/> <br/>
  <input type="password" name="password" placeholder="Password"/> <br/>
  <input type="text" name="name" placeholder="nickname"/> <br/>
  <input type="number" name="birth" placeholder="birth"/> <br/>
  <input type="number" name="number" placeholder="number"/> <br/>
  <button>회원가입</button>
</form>
</body>
</html>